SECRET_KEY=
LOG_LEVEL=INFO
SHOW_OTP_IN_DEV=false
OTP_TTL_SECONDS=300

# MySQL
MYSQL_HOST=mysql
MYSQL_PORT=3306
MYSQL_DATABASE=ayudapet
MYSQL_USER=ayudapet
MYSQL_PASSWORD=

# LabsMobile
LABSMOBILE_USER=
LABSMOBILE_TOKEN=
LABSMOBILE_SENDER=AYUDAPET
LABSMOBILE_API=https://api.labsmobile.com/json/send
LABSMOBILE_DEFAULT_COUNTRY_CODE=52

# Google Maps
API_KEY=
